:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }

  img {
    height: 8rem;
    width: 8rem;
  }

  h1 {
    color: olive;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 2rem auto;
  }


.cat-fact-container {
    border: 0.2rem solid #ccc;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
    background-color: beige;
  }
  p {
    margin: 1rem auto;
    line-height: 1.35;
    font-size: 1.6rem;
  }
  .counting {
    padding-top: 0.5rem;
  }

  button {
    padding: 1rem 1rem;
    background-color: olive;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px grey;
  }

  .pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
  }

.dogImageButton {
  border: solid 1px black;
  width: 5em;
  border-radius: 0.33em;
}

.dogImageText {
  width: 30vw;
  height: 30vh;
}
  @media (max-width: 480px) {

    .cat-fact-container {
    padding: 2rem;
    margin: 1rem;
    }
  }
  .jokeText {
    margin-top: 3em;
  }

  .pokeAbilityText {
    margin-top: 3em;
    font-weight: bold;
  }
  .pokeAbilityEffectText {
    font-style: italic;
    font-size: 1em;
  }
  .pokeAbilityPokemonText {
    font-size: 0.66em;
  }
  .pokeAbilityGenText {
    font-size: 0.66em;
  }
  #numberPkmn {
    font-weight: bold;
  }
  #numberGen {
    font-weight: bold;
    text-transform: uppercase;
  }
  .pokePokemonText {
    margin-top: 3em;
    font-weight: bold;
    text-transform: uppercase ;
  }
  .pokePokemonImage {
    width: 40vw;
    height: 40vh;
    border: solid 1px black;
    margin-bottom: 1em;
  }
  .pokePokemonType {
    width: 15vw;
    height: 4vh;
    border: solid 2px black;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.33em;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;


  }
  .pokePokemonTypesBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #randomPokemonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bug {
    background: linear-gradient(350deg,rgba(172, 255, 47, 0.5), rgba(255,255,255,1) 80%); 

  }
  #water {
    background: linear-gradient(350deg, aqua, rgba(255,255,255,1) 80%);
  }
  #flying {
    background: linear-gradient(350deg, rgb(168, 244, 224), rgba(255,255,255,1) 80%); 

  }
  #fire {
    background: linear-gradient(350deg, rgba(255, 166, 0, 0.499), rgba(255,255,255,1) 80%); 

  }
  #electric {
    background: linear-gradient(350deg,rgb(255, 255, 125), rgba(255,255,255,1) 80%); 

  }
  #rock {
    background: linear-gradient(350deg, rgb(210, 155, 82), rgba(255,255,255,1) 80%); 

  }
  #ground {
    background: linear-gradient(350deg, goldenrod, rgba(255,255,255,1) 80%); 

  }
  #psychic {
    background: linear-gradient(350deg,rgb(195, 95, 195), rgba(255,255,255,1) 80%); 

  }
  #fairy {
    background: linear-gradient(350deg, pink, rgba(255,255,255,1) 80%); 

  }
  #steel {
    background: linear-gradient(350deg, rgb(172, 172, 172), rgba(255,255,255,1) 80%); 

  }
  #poison {
    background: linear-gradient(350deg, plum, rgba(255,255,255,1) 80%); 

  }
  #ice {
    background: linear-gradient(350deg, lightblue, rgba(255,255,255,1) 80%); 

  }
  #fighting {
    background: linear-gradient(350deg,rgba(255, 98, 0, 0.629), rgba(255,255,255,1) 80%); 

  }
  #dark {
    background: linear-gradient(350deg, rgb(79, 79, 79), rgba(255,255,255,1) 80%); 

    color: white;
  }
  #ghost {
    background: linear-gradient(350deg, mediumslateblue, rgba(255,255,255,1) 80%); 
  }
  #dragon {
    background: linear-gradient(350deg, rgb(107, 19, 248), rgba(255,255,255,1) 80%); 

    color: white;
  }
  #normal {
    background: linear-gradient(350deg, rgb(213, 213, 213), rgba(255,255,255,1) 80%); 

  }
  #grass {
    background: linear-gradient(350deg, rgb(8, 188, 8) 20%, rgba(255,255,255,1) 80%); 
  }
  #noType {
    background-color: none;

  }
